.Conten-global
  max-width 1024px
  margin 0px auto
  height 100vh
  &-int
    background-color #fff
    height 100vh
    width 100%
.Conten-idioma
  width 100%
  height 100vh
  position relative
  padding 30px 20px 0px 20px
  &-sec
    display flex
    width 80%
    justify-content center
    padding-top 100px
    margin 0px auto
  &-cuadro
    padding 10px
    margin 5px
    width 100px
    text-align center    
    img
      width 40px
    span
      font-family Poppins-Bold
      font-size 12px
      text-transform uppercase
      color #666
      padding-top 5px
      display block
.Crometro
  width 100%
  border 2px solid #ddd
  border-radius 3px
  padding 10px
  &-int
    display flex    
  &-sec1
    width 30%
    text-align right
    padding-top 3px
    i
      font-size 30px
  &-sec2
    width 70%
    span
      font-size 30px
.Conten-logo-uni
  width 100%
  text-align center
  img
    margin 0px auto
    padding 30px 10px
    width 230px    
.Conten-colores
  width 100%
  height 100vh
  position relative
  padding 30px 20px 0px 20px
  &-int
    width 100%
    display flex
  &-bloque
    width 33%
    margin 5px
    padding 5px
    border 1px solid #ddd
    &-seccion
      width 100%
      height 30px
.Conten-orden
  width 100%
  height 100vh
  position relative
  padding 30px 20px 0px 20px
.Conten-ingresar-perfil
  width 100%
  height 100vh
  position relative
  padding 30px 20px 0px 20px
  &-int
    width 100%

.Conten-avatar
  width 100%
  position relative
  margin-bottom 10px
  &-int
    display flex    
    &-sec
      width 50%      
      margin-right 10px
      border-radius 3px
      border 1px solid #ddd
      padding 20px
      text-align center
      img
        width 70px
      &:last-child
        margin-right 0px
        


.Forms
  width 100%
  label
    display block
    font-size 12px
    font-family Poppins-bold
    color #666
    margin-bottom 5px
  input[type="text"]
    width 100%
    height 40px
    padding 5px 10px
    border 1px solid #cfcfcf
    border-radius 3px
    margin-bottom 10px
    outline none
  input[type="email"]
    width 100%
    height 40px
    padding 5px 10px
    border 1px solid #cfcfcf
    border-radius 3px
    margin-bottom 10px
    outline none
  textarea
    width 100%
    height 80px
    padding 5px 10px
    border 1px solid #cfcfcf
    border-radius 3px
    margin-bottom 10px
    font-family Poppins-regular
    outline none
.Btn-sig
  width 90px
.Btn
  font-family Poppins-Bold
  font-size 12px
  padding 10px 16px
  display block  
  border-radius 3px
  border none
.Text-blanco
  color #fff
.Divi
  border solid #eaeaea
  border-width 1px 0 0
  clear both
  margin 1.25rem 0 1.1875rem
  height 0
  margin-bottom 19px
  text-align center
.Conten-estrellas
  width 100%
  &-int
    position relative
    text-align center
    span
      padding 5px
      font-size 25px
      color #FF9800
.Space-bet
  display flex
  justify-content space-between
.Conten-selector-canciones
  width 100%
  padding 2em 0px
  height 336px
  overflow-y auto
  &-bloque
    width 100%
    background-color #f2f2f2
    border-radius 3px
    padding 5px
    display flex
    margin-bottom 10px
    border 1px solid #ddd
    &-sec1
      width 10%
      padding 8px 6px
      i
        font-size 20px
    &-sec2
      width 90%
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      padding 9px 5px
      span
        width 100%
        
    
.Conten-bloque-menuabajo
  position fixed
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  background-color #fff
  height 58px
  width 100%
  bottom -1px
  z-index 500
  &-sec
    width 100%
    height 58px
    display flex
  &-seccion
    width 20%
    text-align center
    a
      cursor pointer
      font-size 20px
      padding 20px
      display block
.Conten-orden-superior
  width 100%
  &-int
    padding 10px
    margin 0px auto
    width 240px
    img
      width 100%

.Conten-orden-medio
  width 100%
  &-int
    padding 10px
.Conten-orden-medio
  width 100%
  position relative
  padding 10px
.Des-block
  display initial !important
.Padd-top-gr
  padding-top 50px      

.Conten-compartir
  width 100%
  &-int
    width 100%
    margin 0px auto
    ul
      margin 0px
      padding 0px
      li
        display block
        line-height 30px
        a
          font-size 18px
          color #333
          padding 10px 10px
          display block
          i
            margin-right 10px
.Conten-bloque-btn
  position fixed
  background-color #fff
  height 58px
  width 100%
  bottom -1px
  z-index 500
  &-sec
    width 100%
    height 58px
    display flex
.Conten-bloque-lado
  width 50%
  height 58px
  padding 10px
  text-align center
.Cp-oculto
  display none
.Parrafo
  line-height 22px !important
  font-size 14px !important
.Padd-top
  padding-top 20px
.Titul-h2
  font-size 22px
  line-height 24px
.Text-center
  text-align center
.Conten-oculto
  display none
.Conten-recordatorios
  padding-bottom 4.5em
  width 100%
  &-padre
    background-color #f2f2f2
    border 1px solid #ddd
    a
      padding 15px 10px
      display block
      span
        font-family Poppins-Bold
  &-hijo
    width 100%
    background-color #fff
    padding 20px 10px
    border-right 1px solid #ddd
    border-left 1px solid #ddd
    border-bottom 1px solid #ddd

// Colores para seleccionar
.Colorf-amar
  background-color #ffbe00
.Colorf-azul
  background-color #14459d
.Colorf-rojo
  background-color #F44336
.Colorf-verde
  background-color #00962e
.Colorf-morado
  background-color #673AB7
.Colorf-naranja
  background-color #FF9800
.Colorf-cafe
  background-color #795548
.Colorf-gris
  background-color #9E9E9E
.Colorf-negro
  background-color #000

.Colorc-text-azul
  color #14459e !important
.Colorc-bag-azul
  background-color #14459e !important
.Colorc-borde-azul
  border 1px solid #14459e !important

.Colorc-text-gris
  color #607D8B !important
.Colorc-bag-gris
  background-color #607D8B !important
.Colorc-borde-gris
  border 1px solid #607D8B !important

.Colorc-text-amarillo
  color #ffbe00 !important
.Colorc-bag-amarillo
  background-color #ffbe00 !important
.Colorc-borde-amarillo
  border 1px solid #ffbe00 !important

.Colorc-text-rojo
  color #F44336 !important
.Colorc-bag-rojo
  background-color #F44336 !important
.Colorc-borde-rojo
  border 1px solid #F44336 !important

.Colorc-text-verde
  color #00962e !important
.Colorc-bag-verde
  background-color #00962e !important
.Colorc-borde-verde
  border 1px solid #00962e !important

.Colorc-text-morado
  color #673AB7 !important
.Colorc-bag-morado
  background-color #673AB7 !important
.Colorc-borde-morado
  border 1px solid #673AB7 !important

.Colorc-text-cafe
  color #795548 !important
.Colorc-bag-cafe
  background-color #795548 !important
.Colorc-borde-cafe
  border 1px solid #795548 !important

.Colorc-text-negro
  color #000000 !important
.Colorc-bag-negro
  background-color #000000 !important
.Colorc-borde-negro
  border 1px solid #000000 !important

.Colorc-text-gris
  color #9E9E9E !important
.Colorc-bag-gris
  background-color #9E9E9E !important
.Colorc-borde-gris
  border 1px solid #9E9E9E !important

.Colorc-text-naranja
  color #FF9800 !important
.Colorc-bag-naranja
  background-color #FF9800 !important
.Colorc-borde-naranja
  border 1px solid #FF9800 !important